<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncomz.nms.dao.admin.dashboard.DashboardMapper">
	 <select id="getTeamCount" resultType="com.ncomz.nms.domain.admin.dashboard.TeamCnt">
			SELECT /* DashboardMapper.xml.getTeamCount */
				   COUNT(*) AS TEAM_CAPA,
			       CASE WHEN ISNULL(E.dtl_cd_desc) THEN A.dtl_cd_desc
			            ELSE E.dtl_cd_desc END AS TEAM_NM,
        		   (SELECT COUNT(*) AS TOTAL_CAPA FROM T_USER WHERE emp_no != 'admin') AS TOTAL_CAPA
			FROM   T_USER U, 
			       T_COMMON_CODE A, 
			       T_COM_INFO CO
			       LEFT OUTER JOIN T_COMMON_CODE E
			       ON CO.team_cd = E.dtl_cd 
			WHERE  CO.emp_no = U.emp_no 
			       AND U.use_yn = 'Y' 
			       AND CO.team_cd = A.dtl_cd
			       AND CO.emp_no != 'admin' 
	   	GROUP BY   CO.TEAM_CD
   </select>
   <select id="getProjectCount" parameterType="String" resultType="com.ncomz.nms.domain.admin.dashboard.ProjectCnt">
			SELECT /* DashboardMapper.xml.getProjectCount */ 
					YM AS CUR_YYMM, 
					COUNT(*) AS TOTAL_CNT, 
					SUM(NCCNT) AS NC_CNT, 
					SUM(YCCNT) AS YC_CNT, 
					SUM(YCICNT) AS YCI_CNT, 
					SUM(YCCCNT) AS YCC_CNT 
  			FROM (
    				SELECT DATE_FORMAT(STRT_DT, '%Y-%m') AS YM,
           				   CASE WHEN CONT_YN = 2 THEN 1 ELSE 0 END AS NCCNT,
           				   CASE WHEN CONT_YN = 1 THEN 1 ELSE 0 END AS YCCNT,
           				   CASE WHEN CONT_YN = 1 AND USE_YN = 1 THEN 1 ELSE 0 END AS YCICNT,
           				   CASE WHEN CONT_YN = 1 AND USE_YN = 2 THEN 1 ELSE 0 END AS YCCCNT
      				FROM   T_PROJECT_INFO
     				WHERE  STRT_DT BETWEEN DATE_FORMAT(STR_TO_DATE(#{curYYYY}, '%Y'), '%Y-01-01') AND DATE_FORMAT(STR_TO_DATE(#{curYYYY}, '%Y'), '%Y-12-31')
     				AND    END_DT BETWEEN DATE_FORMAT(STR_TO_DATE(#{curYYYY}, '%Y'), '%Y-01-01') AND DATE_FORMAT(STR_TO_DATE(#{curYYYY}, '%Y'), '%Y-12-31')
     				AND    PJT_TYPE_CD = 'N11'
			) A
			GROUP BY YM
   </select>
   
</mapper>